<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578327130121-gs4fhr3qibnrfvupujno4cnkl8r9e1hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578327130121-gs4fhr3qibnrfvupujno4cnkl8r9e1hq</string>
	<key>API_KEY</key>
	<string>AIzaSyAaP2yEetHQQI5je4kivwAHk9FIJyK1CNg</string>
	<key>GCM_SENDER_ID</key>
	<string>578327130121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corasan.toadstool</string>
	<key>PROJECT_ID</key>
	<string>toadstool-6c816</string>
	<key>STORAGE_BUCKET</key>
	<string>toadstool-6c816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578327130121:ios:003246bafee7f1ddc0c8d8</string>
</dict>
</plist>